/* post div display is flex, aligning items at left side, add border and padding */
.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

/* post_body should take full width */
.post__body{
    flex: 1;
    padding: 10px;
}


/* round image inside post__body, it'll take 100% */
.post__body > img{
    border-radius: 20px;
}

/* post__footer div have display:flex, content will have space-between(space evenly  */
.post__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* i'm styling MaterialUI component. so have to add !important to add style to it */
.post__badge{
    font-size: 14px !important;
    color: var(--twitter-color);
}

.post__headerDescription{
    font-size: 15px;
    margin-bottom: 10px;
}


.post__headerText > h3{
    font-size: 15px;
    margin-bottom: 5px;
}

/* add style to span which holds username, make that text smaller and change color*/
.post__headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: grey;
}

.post__avatar{
    padding: 20px;
}


