/* display flex, and align items to center(icons and text),
make when cursor becomes pointer when you hover mouse on items */
.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* chaning background color on hover, adding border radius
, AND for color we apply global varuable --twitter-color value,
change it in 100ms like small animation */
.sidebarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}



/*adding class to these icons, basically saying if inside sidebar you find 
child that is Icon give it this styling*/
.sidebarOption > .MuiSvgIcon-root{
    padding: 20px;

}
/* inside sidebarOption where we have h2 give it this styling
changing fontweight, fontsize and adding bit of margin to right */
.sidebarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption--active{
    color: var(--twitter-color);
}